.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.right-aligned-text {
  text-align: right;
}


.navigation {
  background-color: #AF0824;
}


body {
  background-color: #FFF0CC;
}

h1 {
  font-family: Kaushan Script;
  color: #2B2B2B;
}

h2 {
  font-family: Noto Sans;
  color: #2B2B2B;
}


.md-img {
  width: 600px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.sm-img {
  width: 200px
}

.recipe-card {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  width: 80%; 
  margin: 0 auto; 
  text-align: center; 
}